.ant-menu-horizontal {
    border-bottom: transparent !important;
}
.ant-menu {
    background-color: transparent;
    a {
        color: rgb(255,101, 109);
    }
}

.navbar {
    background-color: white;
    height: 47px;
    a {
        color: rgb(255,101, 109);
    }
}